@page "/"

<PageTitle>ResxEditor - Home</PageTitle>
<InputFile id="filePicker" OnChange="OnLoadFiles" accept=".resx" hidden multiple />

<div class="container-fluid mt-2 w-100">
    <div class="row mb-2">
        <div class="col">
            <div class="input-group">
                <div class="form-floating">
                    <input type="text" class="form-control" id="filenameInput" placeholder="Filename">
                    <label for="filenameInput">Filename</label>
                </div>
                <span class="input-group-text">.resx</span>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control" id="namespaceInput" placeholder="Test.Properties">
                <label for="namespaceInput">Namespace</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped-columns">
                <thead>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>

                    @foreach (var locale in _locales)
                    {
                        <th scope="col">Value - @locale</th>
                    }
                </tr>
                </thead>
                <tbody>
                @if (_mainDocument != null)
                {
                    foreach (var (key, dict) in _mainDocument.Values)
                    {
                        <tr>
                            <td>@key</td>
                            @foreach (var value in dict)
                            {
                                if (value.Key == _selectedItem.Item1 && value.Value == _selectedItem.Item2)
                                {
                                    <td class="m-0 p-0">
                                        <input type="text" name="@value.Key" @bind-value="_selectedItem.Item2" class="form-control bg-secondary text-white rounded-0 w-100"/>
                                    </td>
                                }
                                else if (string.IsNullOrEmpty(value.Value))
                                {
                                    <td class="bg-danger" @ondblclick="@(e => OnCellDoubleClick(e, value))"></td>
                                }
                                else
                                {
                                    <td @ondblclick="@(e => OnCellDoubleClick(e, value))">@value.Value</td>
                                }
                            }
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
