@page "/"

<PageTitle>ResxEditor - Home</PageTitle>
<InputFile id="filePicker" OnChange="OnLoadFiles" accept=".resx" hidden multiple/>

<div class="container-fluid mt-2 w-100">
    @if (_mainDocument != null)
    {
        <div class="row mb-2">
            <div class="col">
                <div class="float-start">
                    <button class="btn btn-primary" @onclick="OnAddKeyClick">Add New Key</button>
                    <button class="btn btn-danger" @onclick="OnRemoveKeyClick">Remove Key</button>
                </div>
                <div class="float-end">
                    <button class="btn btn-primary" @onclick="OnExportClick">Export</button>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col">
            <table class="table table-dark table-bordered table-hover">
                <thead class="table-dark-light">
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Value</th>

                        @foreach (var locale in _locales)
                        {
                            <th scope="col">Value - @locale</th>
                        }
                    </tr>
                </thead>
                <tbody>
                @if (_mainDocument != null)
                {
                    foreach (var (key, dict) in _mainDocument.GetValues())
                    {
                        <tr class="@(_selectedMainKey == key ? "table-active" : "")">
                            @if (_selectedKey == key)
                            {
                                <td class="m-0 p-0">
                                    <input type="text" value="@_selectedKey" @onchange="@(e => OnKeyInputTextChanged((string)e.Value))" class="form-control bg-secondary text-white rounded-0 w-100"/>
                                </td>
                            }
                            else
                            {
                                <td @onclick="@(_ => OnCellClick(key))" @ondblclick="@(_ => OnKeyCellDoubleClick(key))">@key</td>
                            }

                            @foreach (var value in dict)
                            {
                                if (key == _selectedItem.Key && value.Key == _selectedItem.Locale && value.Value == _selectedItem.Value)
                                {
                                    <td class="m-0 p-0">
                                        <input type="text" name="@key" value="@_selectedItem.Value" @onchange="@(e => OnValueInputTextChanged(key, _selectedItem.Locale, (string)e.Value))" class="form-control bg-secondary text-white rounded-0 w-100"/>
                                    </td>
                                }
                                else if (string.IsNullOrEmpty(value.Value))
                                {
                                    <td class="bg-danger" @onclick="@(_ => OnCellClick())" @ondblclick="@(_ => OnValueCellDoubleClick(key, value))"></td>
                                }
                                else
                                {
                                    <td @onclick="@(_ => OnCellClick())" @ondblclick="@(_ => OnValueCellDoubleClick(key, value))">@value.Value</td>
                                }
                            }
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@* PopUp for name and namespace input *@
<div class="modal fade" id="inputModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Input</h1>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="filenameInput" placeholder="Filename" @bind-value="@AppState.FileName" required>
                        <label for="filenameInput">Filename</label>
                    </div>
                    <span class="input-group-text">.resx</span>
                </div>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="namespaceInput" placeholder="Test.Properties" @bind-value="@AppState.Namespace" required>
                        <label for="namespaceInput">Namespace</label>
                    </div>
                </div>
                @if (!AppState.IsNewDocument)
                {
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary" @onclick="@(_ => AppState.OpenFilePicker())">Browse ...</button>
                    </div>
                    <div class="mb-3">
                        <p>Loaded files: </p>
                        <ul class="list-group list-group-flush">
                            @foreach (var file in _loadedFiles)
                            {
                                <li class="list-group-item">@file.Name</li>
                            }
                        </ul>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" @onclick="OnOpenClick">@(AppState.IsNewDocument ? "Create" : "Open") @(_loadedFiles.Count) file(s)</button>
            </div>
        </div>
    </div>
</div>
